In [4]:
print("Hello World!")

Hello World!

In [5]:
first_name = "Ahmed"
age = 42
print(first_name, "is", age)

Ahmed is 42

In [6]:
new_age = age + 3
print(first_name, "is", new_age)

Ahmed is 45

In [7]:
print(first_name[2:200])

med

In [8]:
x = 5
y = x
X = 6
print(y)

5

In [10]:
print(type(2.5))

<class 'float'>

In [12]:
last_name = "Jones"
print(first_name + " " + last_name)

Ahmed Jones

In [14]:
print(first_name*3)

AhmedAhmedAhmed

In [15]:
print(len(first_name))

5

In [19]:
5%2

1

In [24]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [28]:
my_string = "wHOoahoawWHOAwhoa I said heyy, it's going down"

In [29]:
min?

Docstring:
min(iterable, *[, default=obj, key=func]) -> value
min(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its smallest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the smallest argument.
Type:      builtin_function_or_method

In [33]:
%whos

Variable     Type    Data/Info
------------------------------
X            int     6
age          int     42
first_name   str     Ahmed
last_name    str     Jones
my_string    str     wHOoahoawWHOAwhoa I said heyy, it's going down
new_age      int     45
x            int     5
y            int     5

In [35]:
easy = "acb"
max(easy)

'c'

In [36]:
max()

TypeError: max expected at least 1 argument, got 0

In [39]:
a_string = "name"
a_string[-1]

'e'

In [41]:
print("whoawh".upper)

<built-in method upper of str object at 0x7fab2d038f70>